.contact-preview {
    cursor: pointer;
    display: grid;
    background-color: white;
    grid-template-columns: 1fr auto ;
    position: relative;
    padding: 8px;
    padding-inline-start: 100px;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

    .user-info {
        display: flex;
        flex-direction: column;

        p:first-of-type {
            font-size: 18px;
            color: #2d2d2d
        }

        p:last-of-type {
            font-family: main-l;
            letter-spacing: .5px;
            font-size: 14px;
            color: gray;
        }
    }

    .actions {
        position: relative;
        padding: 25px;
        padding-inline-end: 30px;
        border-left: 1px solid rgba(163, 163, 163, 0.63);

            a > img {
                top: 0;
            }
      
            img {
                cursor: pointer;
                position: absolute;
                top: 28px;
                left: 15px;
                width: 22px;
                height: 22px;
            }

            img:hover {
                background-color: rgba(185, 185, 185, 0.219);
                border-radius: 20px;
                padding: 2px;
            }

    }
    img {
        z-index: 1;
        bottom: -11px;
        left: -13px;
        position: absolute;
        width: 115px;
        height: 115px;
    }
}