<section class="contact-edit">
    <img *ngIf="!contact._id ; else contactImg" src="./assets/imgs/user.png">
    <ng-template #contactImg>
        <img src="https://robohash.org/{{contact._id}}?set=set3" alt="">
    </ng-template>

    <form *ngIf="contact" (ngSubmit)="onSaveContact()">
        <label for="name">Name</label>
        <input [(ngModel)]="contact.name" type="text" name="name" id="name">

        <label for="email">Email</label>
        <input [(ngModel)]="contact.email" type="email" name="email" id="email">

        <label for="phone">Phone</label>
        <input [(ngModel)]="contact.phone" type="text" name="phone" id="phone">

        <button class="buttonClass" *ngIf="contact._id ; else addContact">Edit Contact</button>
        <ng-template #addContact>
            <button class="buttonClass">Add Contact</button>
        </ng-template>
        
    </form>

    
    <a class="back" routerLink="">Back</a>
</section>
