.app-footer {
    display: grid;
    height: 5vh;
    color: white;
    display: flex;
    font-family: main-l;
    justify-content: center;
    align-items: center;
    padding-inline-start: 150px;
    padding-inline-end: 150px;
}
